<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:applicationandroid="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fanweilin.coordinatemap">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 腾讯通信 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <permission
        android:name="com.fanweilin.coordinatemap.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.fanweilin.coordinatemap.permission.MIPUSH_RECEIVE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".Activity.data"
        android:allowBackup="true"
        android:icon="@mipmap/earth_global"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label,android:icon,android:allowBackup,android:name">
        <activity
            android:name=".Activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainMapsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!-- 声明SDK所需要的组件 -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />
        <!-- 请开发者注意字母的大小写，ADActivity，而不是AdActivity -->
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <meta-data
            android:name="BDAPPID"
            android:value="7700123" />
        <meta-data
            android:name="BDAPPKEY"
            android:value="liVzL2XTz0ComDCCTtB01gNBdOKvOoPx" />
        <!-- abcd1234 -->
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="lt4XoemaT8uHuDiyALG9zf86duD6iWba" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".Activity.DataManagerActivity"
            android:launchMode="singleTop" />
        <!-- 腾讯通信 -->
        <!-- 【必须】消息收发service -->
        <activity android:name="timchat.ui.HomeActivity" />
        <activity
            android:name="timchat.ui.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="timchat.ui.SearchFriendActivity" />
        <activity android:name="timchat.ui.AddFriendActivity" />
        <activity
            android:name="timchat.ui.ProfileActivity"
            android:launchMode="singleTask" />
        <activity android:name="timchat.ui.ManageFriendGroupActivity" />
        <activity
            android:name="timchat.ui.VideoActivity"
            android:screenOrientation="portrait" />
        <activity android:name="timchat.ui.CreateGroupActivity" />
        <activity
            android:name="timchat.ui.TCVideoRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="timchat.ui.TCVideoPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="timchat.ui.GroupProfileActivity"
            android:launchMode="singleTask" />

        <!-- 消息收发service -->
        <service
            android:name="com.tencent.qalsdk.service.QalService"
            android:exported="false"
            android:process=":QALSERVICE" />
        <!-- 消息收发辅助service -->
        <service
            android:name="com.tencent.qalsdk.service.QalAssistService"
            android:exported="false"
            android:process=":QALSERVICE" />
        <!-- 离线消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.QALBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tencent.qalsdk.broadcast.qal" />
            </intent-filter>
        </receiver>
        <!-- 系统消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.core.NetConnInfoCenter"
            android:process=":QALSERVICE">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <!-- 百度鹰眼 -->
        <service
            android:name="com.baidu.trace.LBSTraceService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity android:name="timchat.ui.ImageViewActivity" />
        <activity android:name="timchat.ui.EditActivity" />
        <activity android:name="timchat.ui.SearchGroupActivity" />
        <activity android:name="timchat.ui.ApplyGroupActivity" />
        <activity android:name="timchat.ui.GroupManageMessageActivity" />
        <activity android:name="timchat.ui.FriendshipManageMessageActivity" />
        <activity android:name="timchat.ui.GroupListActivity" />
        <activity android:name="timchat.ui.ChooseFriendActivity" />
        <activity android:name="timchat.ui.GroupMemberActivity" />
        <activity
            android:name="timchat.ui.customview.DialogActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="timchat.ui.GroupMemberProfileActivity" />
        <activity android:name="timchat.ui.FriendshipHandleActivity" />
        <activity android:name="timchat.ui.AboutActivity" />
        <activity android:name="timchat.ui.BlackListActivity" />
        <activity android:name="timchat.ui.ImagePreviewActivity" />
        <activity android:name="timchat.ui.MessageNotifySettingActivity" />
        <!-- 腾讯通信 -->
        <activity android:name=".Activity.AddFileActivity" />
        <activity android:name=".Activity.Bdoffilin_activity" />
        <activity android:name=".toolActivity.ConvertActivity" />
        <activity android:name=".Activity.WayponitActivity" />
        <activity android:name=".Activity.ToolBoxActivity" />
        <activity android:name=".toolActivity.CoordinateActivity" />
        <activity android:name=".toolActivity.DistanceActivity" />
        <activity
            android:name=".Activity.FileManagerActivity"
            android:launchMode="singleTask">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/comma-separated-values" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.google-earth.kml+xml" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.google-earth.kmz" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.DataServerManagerActivity" />
        <activity android:name=".Activity.WebActivity" />
        <activity android:name=".Activity.TaoBaoActivity" />
        <activity android:name=".Activity.MapsActivity" />
        <activity android:name=".Activity.GuassActivity" />
        <activity android:name=".Activity.LocalFileActivity" />
        <activity android:name=".Activity.AboutActivity" />
        <activity android:name=".Activity.SettingActivity" />
        <activity
            android:name=".Activity.MeasureActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".Activity.OnlineMap" />
        <activity
            android:name="timchat.ui.customview.MapManagerActivity"
            android:launchMode="singleTask" />
        <activity android:name=".Activity.ImportAcitivity" />
        <activity
            android:name=".Activity.Payctivity"
            android:label="@string/title_activity_payctivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activity.TracingActivity" />
        <activity android:name=".Activity.OlWayActivity" />
        <activity
            android:name=".Activity.MainActivity1111"
            android:label="@string/title_activity_main1111"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".gpsTest.GpsTestActivity"
            android:label="@string/title_activity_gps_test"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".Compass.CompassActivity"
          android:theme="@style/Theme.AppCompat"></activity>
    </application>

</manifest>